<b>notes for 09 September 2022</b>
<br>
</br><p>Free software is a great system of ethics allowing users to run, modify, and<br>
distribute software as they please.</p>

<p>However, free software isn't a complete ethnic in and of itself. Canonical,<br> 
IBM, and others, have distributed things under free software licenses with the purpose<br>
of taking over the entire Linux ecosystem. systemd does much more than an init system<br>
and repeatedly drags more things into itself. Through cronyism with the GNOME project<br>
and others, it has needlessly become a dependency to run commonly used software.</p>

<p>Canonical has fashioned snap in such a way that the only present snap repository<br>
is their own. Linux Mint has even had to go so far as disabling this altogether. Some<br>
find it useful, and I don't begrudge them of that. However, not everyone likes that<br> 
(1) it is tied to Canonical, (2) it is slow, (3) doesn't obey system themes, and<br> 
(4) that developers often see this as a catch-all and don't want to distribute the<br> 
software elsewhere. This limits people's choice in the end, and clearly demonstrates<br>
that someone could follow all of the rules of free software, and still have something<br>
ethically questionable.</p>

<p>Thankfully, distributions like Slackware do avoid these pitfalls for the time<br>
being. It remains to be seen how long things like this can be avoided.</p>

<p>The kernel Linux has grown to over twenty million lines of code, serving as<br>
a large attack vector, for those looking to crack systems. This also serves go make<br>
maintenance of the kernel impossible outside of the massive Linux kernel project.</p> 
