<b>Notes for 13 September 2022</b>

<p>Many have stated that OpenBSD is not a desktop system due to<br>
largely being used for servers, and that they don't mention it<br> 
as a desktop system on the front page.</p>

<p>It is true that this isn't the main focus of OpenBSD, and that<br>
it's not mentioned on the front page. It must be pointed out that<br>
this doesn't mean that it isn't for desktop users. It ships with<br>
xenocara (OpenBSD's fork of X), and asks during the install if the<br>
user would like xenodm (OpenBSD's default display manager) to launch<br>
the X windows system. It also ships with three basic window managers,<br>
of which cwm (calm window manager) is the default.</p>

<p>So it is a system made even for desktops.</p>
