<b>SimpleBSD</b>

<p>Personal page for various musings</p>

<p>I am presently a noob user of OpenBSD.</p>

<p>I have used Slackware and other Linux distributions for a<br>
number of years.I have become more conscious of corporate<br>
interests effectively guiding the direction of the Linux<br>
kernel among other things.</p>

<p> I also wish to go in the direction
of being more security conscious.</p>

<a href="https://simplebsd.codeberg.page/simplebsd/20220913-notes.html">2022-09-13 notes</a>
<a href="https://simplebsd.codeberg.page/simplebsd/20220912-notes.html">2022-09-12 notes</a>
